body {
    margin: 0px;
}

.containersBackground{
    display: flex;
    flex-direction: column;
    background: rgb(245, 241, 241);
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
}
.itemsContainer {
    display: flex;
    height: 150px;
    justify-content: space-between;
    align-items: center;
}
img{
    height: 120px;
}
.choose{
    font-family: 'Press Start 2P', cursive;
}