body {
    font-family: 'Press Start 2P', cursive;
    margin: 0px;
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.containersBackground{
    display: flex;
    flex-direction: column;
    background: rgb(245, 241, 241);
    justify-content: center;
    align-items: center;
}
.itemsContainer {
    display: flex;
    width: 500px;
    height: 150px;
    justify-content: space-between;
    align-items: center;
}
.itemsContainer img{
    height: 120px;
    transition: all 0.06s;
}

.container{
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.roundResult,.message{
    margin: 15px;
    text-align: center;
}
.detailContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.score{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    width: 150px;
    height: 30px;
}
.pushImg{
    box-shadow: 5px 5px 12px 5px rgb(89, 128, 201);
    transform: scale(1.1);
    border: 1px solid  rgba(27, 36, 151, 0.89);
    background: rgba(67, 101, 214, 0.281);
}
#humanMove,#aiMove{
    width: 200px;
    height: 200px;
}